.body__content {
  margin-top: 51px;
}

.body__nav ul {
  margin-left: 434px;
  display: flex;
  column-gap: 30px;
}

.body__nav a {
  color: #fff;

  font-family: Gotham Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.body__nav a {
  position: relative;
  color: #fff; /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 1; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/
}
.body__nav a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #fff; /*задаём цвет линии*/
  content: "";
  transition: width 0.35s ease-out; /*задаём время анимации*/
}

.body__nav a:hover:after,
.body__nav a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.body__rectangles {
  padding-top: 66px;
}
.body__rectangles ul {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.body__rectangles img {
  border-radius: 55px;
}
.quote {
  color: #fff;

  font-family: Gotham Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
